@use "../abstracts/variables" as *;


// Hide sale badge for flex pay products
.wc-block-components-sale-badge {
  display: none !important;
}

// Cart payment details
.wc-block-components-product-details {
    li {
        display: flex;
        align-items: flex-start;
        margin-bottom: $spacing-xs !important;
    }

    &__name {
        color: $color-text-secondary;
        font-size: $font-size-md;
        min-width: 120px;
        padding-right: $spacing-sm;
    }

    &__value {
        font-size: $font-size-md;
        color: $color-text-primary;
        font-weight: $font-weight-medium;
    }

    // Payment schedule
    &__payment-schedule {
        .wc-block-components-product-details__value {
            white-space: pre-line;
            color: $color-text-secondary;
            line-height: 1.6;
            display: inline-block;
            padding-top: 2px;
        }
    }
}

// Variation list fallback
dl.variation {
    dt {
        color: $color-text-secondary;
        font-size: $font-size-md;
        margin-bottom: 2px !important;
    }

    dd {
        margin: 0 0 8px !important;
        font-size: $font-size-md;
        
        &:last-child {
            margin-bottom: 0 !important;
        }

        p {
            margin: 0 !important;
        }
    }
}
